:root {
  --white: #fff;
  --light-600: #fafff7;
  --light-500: #fdfcfb;
  --light-green-600: #ecf7ed;
  --light-green-500: #c3c889;
  --light-green-100: #fefffb;
  --light-blue-600: #ecf0f7;
  --light-orange-600: #f6f1ed;
  --light-orange-500: #fff7f2;
  --orange: #ea6b26;
  --orange-btn: #ff9442;
  --dark-orange: #ce5a1b;
  --light-green: #94d591;
  --btn-green: #33915c;
  --text-green: #134e0d;
  --orange-gradient: linear-gradient(92.59deg, #ea6b26 0%, #feaa3b 100%);
  --brown-gradient: linear-gradient(
    180deg,
    rgba(87, 34, 5, 0) 37.5%,
    rgb(87, 34, 5) 100%
  );
  --white-gradient: linear-gradient(
    360deg,
    rgba(250, 255, 247, 0) 0%,
    rgb(250, 255, 247) 64.98%
  );
  --white-gradient-vertical: linear-gradient(
    -90deg,
    rgba(250, 255, 247, 0) 0%,
    rgb(250, 255, 247) 64.98%
  );
  --btn-orange-gradient: linear-gradient(92.59deg, #ea6b26 0%, #feaa3b 100%);
  --btn-orange-gradient-hover: linear-gradient(
    92.59deg,
    #ff9442 0%,
    #ff9442 100%
  );
  --btn-orange-gradient-2: linear-gradient(92.59deg, #feaa3b 0%, #ea6b26 100%);
  --grey: #b7c4b6;
  --main-shadows: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
  --orange-bg-gradient: linear-gradient(256.88deg, #ce5a1b 0%, #feaa3b 100.01%);
  --btn-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  --bg-pink: #FFF2E8;
  --bg-light-blue: #ECF1F7;
  --bg-light-yellow: #FFFDE8;
  --light-grey: #F9F9F9;
}

body {
  font-family: "Alexandria", sans-serif;
  background-color: var(--light-green-100);
}

.bg-pink {
  background-color: var(--bg-pink);
}

.bg-light-blue {
  background-color: var(--bg-light-blue);
}

.bg-light-yellow {
  background-color: var(--bg-light-yellow);
}

input {
  box-sizing: border-box;
  outline: none;
}

.opened-menu {
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: "Alexandria", sans-serif;
  border: none;
  cursor: pointer;
}

.btn {
  height: 50px;
  padding-inline: 32px;
  font-size: 18px;
  border-radius: 25px;
  transition: all 240ms ease;
}

.btn-big {
  height: 54px;
  padding-inline: 32px;
  font-size: 18px;
  border-radius: 28px;
  transition: all 240ms ease;
}

.green-btn {
  color: var(--white);
  background-color: var(--btn-green);
}

.green-btn:hover {
  background-color: var(--light-green);
  box-shadow: var(--btn-box-shadow);
}

.orange-btn {
  color: var(--white);
  background-color: var(--orange);
}

.orange-btn:hover {
  background-color: var(--orange-btn);
  box-shadow: var(--btn-box-shadow);
}

.btn-orange-gradient {
  color: var(--light-green-100);
  background: var(--btn-orange-gradient);
}

.btn-orange-gradient:hover {
  background: var(--btn-orange-gradient-hover);
  box-shadow: var(--btn-box-shadow);
}

.transparent-green-btn {
  color: var(--btn-green);
  background-color: transparent;
  border: 1px solid currentColor;
}

.transparent-green-btn:hover {
  color: var(--white);
  background-color: var(--light-green);
  box-shadow: var(--btn-box-shadow);
}

.white-btn {
  background-color: var(--white);
}

.white-btn:hover {
  background-color: var(--light-green-600);
  box-shadow: var(--btn-box-shadow);
}

.mobile {
  display: none;
}

.marked-text {
  position: relative;
}

.marked-text:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 22px;
  background: url("../images/text-underline.png") center/contain no-repeat;
  z-index: -1;
}

.gradient-text {
  background: var(--orange-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.second-title {
  font-size: 48px;
  line-height: 1.21;
  font-weight: 600;
}

.green {
  color: var(--text-green);
}

.white {
  color: var(--white);
}

.third-title {
  font-size: 32px;
  font-weight: 600;
}

.main-shadow {
  box-shadow: var(--btn-box-shadow);
}

.rating-stars {
  display: flex;
  column-gap: 2px;
  margin-right: 10px;
}

.custom-radio {
  position: relative;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.custom-radio:not(.white) .checkmark {
  border: 2px solid var(--text-green);
}

.custom-radio.white .checkmark {
  border: 2px solid var(--white);
}

.custom-radio .checkmark:before {
  content: "";
  margin: auto;
  width: 4px;
  height: 4px;
  opacity: 0;
  border-radius: 50%;
}

.custom-radio:not(.white) .checkmark:before {
  background-color: var(--text-green);
}

.custom-radio.white .checkmark:before {
  background-color: var(--white);
}

.custom-radio input:checked ~ .checkmark:before {
  opacity: 1;
}

.orange-bg {
  background-color: var(--orange);
}

/* FAQ */
.faq__package_info {
  padding: 12px 16px;
  color: var(--text-green);
  background-color: var(--light-green-600);
  border-radius: 4px;
  cursor: pointer;
}

.faq__package_info + .faq__package_info {
  margin-top: 6px;
}

.faq__package_info_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__open_close_icon {
  display: flex;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.faq__open_close_icon img {
  margin: auto;
  transform: rotateZ(180deg);
  transition: transform 300ms ease;
  pointer-events: none;
}

.faq__open_close_icon.open img {
  transform: rotateZ(0);
}

.faq__package_info_title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.faq__package_info_title h3 {
  font-size: 18px;
  font-weight: 600;
}

.faq__text_wrap {
  max-height: 0;
  transition: max-height 300ms ease;
  overflow: hidden;
}

.faq__text_wrap.open {
  max-height: 200px;
}

.faq__text_wrap p {
  padding-top: 16px;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
/* /FAQ */

@media screen and (max-width: 1340px) {
  .desktop-lg {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding-inline: 19px;
  }

  .btn:not(.mobile-big-btn) {
    height: 32px;
    padding-inline: 20px;
    font-size: 12px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .second-title {
    font-size: 32px;
    font-weight: 700;
  }
}

@media screen and (max-width: 640px) {
  .tablet {
    display: none;
  }
}
