.header {
  position: sticky;
  top: 0;
  max-width: 100vw;
  background-color: var(--white);
  overflow-x: hidden;
  z-index: 9;
}

.header__top {
  padding-block: 6px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: var(--white);
  background-color: var(--light-green);
  text-align: center;
}

.header__logo {
  width: 65px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: calc(100% - 109px);
  font-size: 14px;
  z-index: 2;
}

.header__order {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header__mobile_menu {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header__menu_close {
  position: absolute;
  top: 23px;
  left: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 32px;
    width: 100%;
    height: 100vh;
    padding: 32px;
    background-color: var(--white);
    transform: translateX(-100%);
    transition: transform 360ms;
    overflow-y: auto;
  }

  .header__nav.open {
    transform: translateX(0);
  }

  .header__nav_logo,
  .header__order {
    order: -1;
  }
}

@media screen and (max-width: 640px) {
  .header__logo {
    width: 34px;
    margin-left: auto;
    margin-right: 55px;
  }
}
