.offer {
  margin-bottom: 64px;
}

.offer__inner {
  display: flex;
  justify-content: space-between;
  padding-inline: 32px;
  background: var(--orange-bg-gradient);
  border-radius: 32px;
  box-shadow: var(--main-shadows);
  overflow: hidden;
}

.offer__image {
  max-width: 499px;
  height: 511px;
  width: 48%;
}

.offer__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.offer__text {
  max-width: 557px;
  width: 53%;
  padding: 32px;
}

.offer__title {
  margin-bottom: 32px;
  font-size: 48px;
  line-height: 1.23;
  font-weight: 600;
  color: var(--light-orange-500);
}

.offer__rating {
  display: flex;
  align-items: center;
  height: 22px;
  margin-bottom: 32px;
  color: var(--light-orange-500);
}

.offer__item {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding-inline: 5px;
  font-size: 18px;
  font-weight: 600;
  color: var(--light-orange-500);
}

.offer__item + .offer__item {
  margin-top: 12px;
}

.offer__item > img {
  height: 75px;
}

.offer__item:last-of-type {
  margin-bottom: 32px;
}

.offer__btn {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .offer__inner {
    padding-inline: 0;
  }

  .offer__image {
    padding-bottom: 30px;
  }

  .offer__text {
    padding: 16px;
  }

  .offer__btn {
    display: block;
    max-width: 320px;
    margin-inline: auto;
  }
}

@media screen and (max-width: 768px) {
  .offer__inner {
    flex-direction: column;
  }

  .offer__image {
    max-width: 100%;
    width: 100%;
    padding-bottom: 0;
  }

  .offer__text {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .offer__image {
    max-height: 359px;
  }
}
